%h2 Contacts
%ul
  %li.clearfix.active.twilio
    .name
      Call me on mobile
    .directions
      %p
        5 free Twilio calls every day for my clients! (0 remaining)
      %p
        = image_tag "twilio-disabled.png", :title => "twilio call disabled"
        +44 7522 593913
  %li.clearfix.skype
    .name
      Call me on Skype
    .directions
      %p
        alessandro.dalgrande
      %p
        = link_to 'skype:alessandro.dalgrande?call' do
          = image_tag 'skype.png', :title => 'call me on Skype'
  %li.clearfix.email
    .name
      Write me an email
    .directions
      = form_tag({:action => 'mail'}, :remote => :true) do
        %p.from
          = label_tag 'email', "From: "
          = text_field_tag 'email', nil, :placeholder => 'myemail@example.com'
        %p.to
          To:
          %span adgror@gmail.com
        %p.message
          = text_area_tag 'message', nil, :rows => 10, :cols => 25
        %p.send
          = submit_tag 'Send', :disable_with => 'Sending...'
  %li.clearfix.twitter
    .name
      Tweet me
    .directions
      %p
        = link_to 'http://www.twitter.com/aledalgrande', :target => :blank do
          = image_tag "twitter.png", :title => "Follow aledalgrande on Twitter"
  %li.clearfix.linkedin
    .name
      Write me on LinkedIn
    .directions
      %p
        = link_to 'http://uk.linkedin.com/in/alessandrodalgrande', :target => :blank do
          = image_tag "linkedin.png", :title => "View Alessandro Dal Grande's profile on LinkedIn"
  %li.clearfix.vcard
    .name
      Download my vCard
    .directions
      %p
        = link_to 'goodies/AlessandroDalGrande.vcf' do
          = image_tag "vcard.png", :title => "vcard"
  %li.clearfix.posterous
    .name
      Comment on my blog
    .directions
      %p
        My blog is at: #{link_to 'http://posterous.com/aledalgrande', 'http://posterous.com/aledalgrande', :target => :blank}
  %li.clearfix.lrug
    .name
      Meet me at LRUG
    .directions
      %p
        You can easily spot me there, come for a chat, no obligation!
      %p
        = link_to 'LRUG: London Ruby User Group', 'http://lrug.org/', :target => :blank
= javascript_include_tag 'http://download.skype.com/share/skypebuttons/js/skypeCheck.js'
  
