#introduction
  #teaser
    %p.title I bake tasty code
    %p
      Yep, that's right, my code is great and you'll love it! It's got a great taste of business value and is served up fast. Why are you waiting?
    %a{:href => "#contacts"}
      Hire me now
    %p.availability (available from 10/12)
  #info
    %p.name Alessandro Dal Grande
    %p.description full stack developer
#details
  #content.clearfix
    #blablabla
      %p
        I live in London and work as a freelance Ruby and Rails developer, baking out solutions for my customers. Being a supporter of the Agile principles I like to
        %span.important communicate
        with people to solve their problems. I use also the best methodologies and technologies of present and future, as long as it is possible, because I think
        %span.important innovation
        is what makes every day different from the previous one (see this #{link_to 'video of the mythical Jean-Claude Biver', 'http://liftconference.com/lift11/program/talk/anonymous-importance-innovation', :target => :blank} to see what I mean).
      %p
        I like entrepreneurship, startups, house music, bartending, art, a lot of sports and culture in general!
    #competencies.clearfix
      %h2 Competencies
      %ul.rumble
        - @competencies.each do |name, text|
          %li
            = image_tag "competencies/#{name.to_s.downcase}.jpg", :title => name, :class => 'icon'
            %p
              = text
    #industries.clearfix
      %h2 Industries of expertise
      %ul.rumble
        - %w(eCommerce Telephony Social Media).each do |name|
          %li
            = image_tag "industries/#{name.downcase}.jpg", :title => name, :class => 'icon'
            %p
              = name
    #portfolio.clearfix
      %h2.clearfix Public projects and Contributions
      %ul
        %li
          %p
            \#{link_to 'BFT', 'http://www.bft.co.uk/jsp/en/categorie/index.jsp', :target => :blank}
            a business to business product configurator (done for Develon)
        %li
          %p
            \#{link_to 'segmented-memcache', 'http://github.com/develon/segmented-memcache', :target => :blank}
            fork of the memcache lib to include segmentation of big chunks
        %li
          %p
            \#{link_to 'validates_as_vat_number', 'http://github.com/develon/validates_as_vat_number', :target => :blank}
            VAT validator using the European VIES system
        %li
          %p
            \#{link_to 'mongo-twitter-streaming', 'http://github.com/aledalgrande/mongo-twitter-streaming', :target => :blank}
            test Sinatra and Twitter project
        %li
          %p
            \#{link_to 'fancy-a-cake', 'http://github.com/aledalgrande/fancy-a-cake', :target => :blank}
            example job request app
        %li
          %p
            \#{link_to 'cuke4php', 'http://github.com/aledalgrande/cuke4php', :target => :blank}
            bridge between PHP and Cucumber
    #contacts.clearfix
      = render :partial => 'contacts'
    %footer
      = image_tag "london-city.png", :title => "london city"
= link_to 'http://github.com/aledalgrande/my_page', :target => :blank do
  = image_tag 'https://d3nwyuy0nl342s.cloudfront.net/img/bec6c51521dcc8148146135149fe06a9cc737577/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67', :title => 'Fork me on GitHub', :style => 'position: absolute; top: 0; left: 0; border: 0;'
