!!!
%html
	%head
		%title Alessandro Dal Grande
		= stylesheet_link_tag :all
		= csrf_meta_tag
		= javascript_include_tag :all
	%body
		#wrapper
			= yield
		= javascript_include_tag "#{AppConstants.shrimp_server}/mantis-shrimp.js"
		= javascript_tag do
			var ms = new MantisShrimp();
			ms.stalk('MS-12983129');